node_modules
lerna-debug.log
benchmark/bemjson
packages/*/node_modules
packages/*/package-lock.json

packages/bem-priv-class/**/*.js
packages/bem-priv-class/**/*.d.ts
!packages/bem-priv-class/index.js
!packages/bem-priv-class/dist/*.js
!packages/bem-priv-class/dist/*.d.ts
