node_modules
lerna-debug.log
benchmark/bemjson
packages/*/node_modules

packages/bem-priv-class/**/*.js
packages/bem-priv-class/**/*.d.ts
packages/bem-priv-class/test/dist/*
!packages/bem-priv-class/index.js
